.footer {
  background-color: #0C1C3B;
  display: flex;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0 0;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-title {
  font-family: "Lobster", Arial, sans-serif;
  color: var(--color-red);
  font-size: 22px;
  margin: 0 ;
  padding: 0;
  font-weight: 400;
}
