.about {
  background: radial-gradient(50% 50% at 50% 50%, #d9d9d9 61.54%, #737373 100%);
  border-radius: 15px;
  /* margin-top: 20px; */

  /* @media (max-width: 550px) {
    margin-top: 0;
  } */
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  /* gap: 20px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-title {
  font-family: "Lobster", Helvetica, sans-serif;
  font-style: normal;
  font-size: 80px;
  line-height: 88px;
  color: var(--color-red);
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 100;
  margin: 30px 0 0;

  @media (max-width: 550px) {
    font-size: 40px;
    line-height: 44px;
    margin: 0;;
  }
}

.about-photos--one,
.about-photos--two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;

  img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
}

.about-photos--one {
  grid-row-start: 1;
  grid-row-end: 2;

}

.about-photos--two {
  grid-row-start: 2;
  grid-row-end: 3;
}

#image-two {
  justify-self: end;
}
#image-four {
  justify-self: end;
}

