.header {
padding-top: 40px;
margin-bottom: 20px;

@media (max-width: 550px) {
  padding-top: 15px;
  margin-bottom: 10px;
}
}

.header-wrapper {
  display: grid;
  grid-template-columns: 64.15% 34.43%;
  column-gap: 10px;
  padding: 0 20px;

  @media (max-width: 650px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 550px) {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 10px;
  }
}

.header-school--img {
  width: 100%;
  object-fit: cover;

  @media (max-width: 550px) {
    height: 100%;
    object-fit: cover
  }
}

.header-logo--img {
  width: 100%;
  object-fit: contain;
}
