.container {
  padding: 0 24px;

  @media (max-width: 1024px) {
   padding: 0 90px;
}

  @media (max-width: 768px) {
    padding: 0 40px;
  }

  @media (max-width: 670px) {
    padding: 0 15px;
  }

}

.title {
  font-size: 56px;
  margin: 10px 0;
  color: #F10C0C;
}
